header {
  background: -webkit-gradient(linear, left top, left bottom, from(#204060), to(#00688D));
  background: -o-linear-gradient(top, #204060 0%, #00688D 100%);
  background: linear-gradient(180deg, #204060 0%, #00688D 100%);
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  height: 100px;
  padding-top: 14px;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.page-content {
  padding: 16px 0;
}

.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
}
.title-block img {
  width: 15px;
  height: 25px;
}

aside {
  max-width: 320px;
}

/* header */
header {
  top: 0;
  position: sticky;
  z-index: 10;
}

.header_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  margin-right: 5px;
}

.header-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.menu-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.header_additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lang-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-right: 10px;
}

.low-vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

/* */
ul.menu__list {
  padding: 0;
  margin: 0;
}

.header_first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu a {
  text-decoration: none;
}

.menu li {
  position: relative;
  list-style: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a.sub-menu__link:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#204060), to(#00688D));
  background: -o-linear-gradient(top, #204060 0%, #00688D 100%);
  background: linear-gradient(180deg, #204060 0%, #00688D 100%);
}

.sub-menu__list > li :hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#204060), to(#00688D));
  background: -o-linear-gradient(top, #204060 0%, #00688D 100%);
  background: linear-gradient(180deg, #204060 0%, #00688D 100%);
}

a.sub-menu__link.parent {
  width: -webkit-fill-available;
}

.menu__link {
  color: #fff;
  font-size: 18px;
}

.sub-menu__list {
  display: none;
  position: absolute;
  left: 0;
  top: 10px;
  padding: 15px 0px 0px 0px;
}

.sub-menu__list > li {
  background-color: #fff;
}

.sub-menu__list > li :hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#204060), to(#00688D));
  background: -o-linear-gradient(top, #204060 0%, #00688D 100%);
  background: linear-gradient(180deg, #204060 0%, #00688D 100%);
  color: white;
}

.sub-menu__link {
  color: #000;
  display: block;
  padding: 5px 10px;
  font-size: 15px;
}

.sub-sub-menu__list {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0px 0px 0px 5px;
}

.sub-sub-menu__list > li {
  background-color: #fff;
}

.sub-sub-menu__list > li :hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#204060), to(#00688D));
  background: -o-linear-gradient(top, #204060 0%, #00688D 100%);
  background: linear-gradient(180deg, #204060 0%, #00688D 100%);
  color: white;
}

.sub-sub-menu__link {
  color: #000;
  display: inline-block;
  padding: 5px 10px;
}

.sub-sub-menu__link {
  color: #000;
}

.arrow {
  display: none;
  position: absolute;
  right: 0;
  top: 12px;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.arrow.active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sub-menu__arrow.arrow {
  right: 10px;
  border-left: 10px solid #fff;
  border-right: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

body.mouse .menu__list > li:hover .sub-menu__list {
  display: block;
}

body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
  display: block;
}

body.touch .sub-menu__list.open {
  display: block;
}

body.touch .sub-sub-menu__list.open {
  display: block;
}

body.touch .arrow {
  display: block;
}

ul.menu__list {
  padding-top: 19px;
}

@media (max-width: 1350px) {
  header {
    height: auto;
  }

  .header_first-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    grid-gap: 10px;
  }

  .low-vision {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  ul.menu__list {
    padding-bottom: 13px;
  }
}
@media (max-width: 1200px) {
  ul.menu__list {
    padding-top: 0px;
  }

  .home-link {
    display: none;
  }

  .sub-menu__link {
    color: #fff;
  }

  .sub-sub-menu__link {
    color: #fff;
  }

  .sub-menu__list > li {
    background: none;
  }

  .sub-sub-menu__list > li {
    background: none;
  }

  .menu__list {
    display: block;
  }

  .menu__list > li {
    margin: 0px 0px 10px 0px;
  }

  .menu__list li {
    margin-right: 20px;
  }

  .sub-menu__list {
    position: relative;
    left: 0;
    top: 0;
  }

  .sub-sub-menu__list {
    padding: 0px 5px;
    position: relative;
    left: 0;
    top: 0;
  }

  .sub-menu__arrow.arrow {
    right: 10px;
    top: 15px;
    border-bottom: none;
    border-left: 10px solid transparent;
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
  }
}
/* */
@media (max-width: 1200px) {
  header {
    height: auto;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
  }

  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
  }

  .header__burger::before,
.header__burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    Left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#204060), to(#00688D));
    background: -o-linear-gradient(top, #204060 0%, #00688D 100%);
    background: linear-gradient(180deg, #204060 0%, #00688D 100%);
    padding-top: 100px;
    overflow: auto;
  }

  .header__menu.active {
    left: 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .header__menu {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__list li {
    margin: 0 0 20px 0;
  }

  .phone-box {
    max-width: 147;
  }

  .flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .header__p {
    padding-top: 10px;
    font-size: 16px;
    max-width: 420px;
  }

  section.main-image {
    margin-top: 54px;
  }
}
/* header */
/* Main Section */
.main-image {
  background-image: url(../assets/img/background.png);
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
}

.section1-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 31px;
     -moz-column-gap: 31px;
          column-gap: 31px;
  padding-top: 110px;
}

/* Main Section */
/* News Section */
.news-section {
  margin-bottom: 44px;
}

.readMore {
  display: none;
  background: rgba(5, 43, 109, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.news-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "b1 b1 b2 b3" "b1 b1 b4 b4";
  /*
  flex-wrap: wrap;
  column-gap:23px;
  grid-gap: 23px;
  */
}
.news-blocks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.news-blocks div span {
  text-align: center;
  background: rgba(5, 43, 109, 0.5);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.news-blocks div:hover {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news-blocks div:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(5, 43, 109, 0.6);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.news-blocks div:hover .readMore {
  display: block;
  width: 100%;
  height: 10%;
  padding-left: 0;
  padding-bottom: 10px;
  padding-right: 0;
}

.news-block1 {
  width: 533px;
  height: 334px;
  background-image: url(../assets/img/news1.png);
  grid-area: b1;
}

.news-block2 {
  width: 215.73px;
  height: 146px;
  background-image: url(../assets/img/news2.png);
  grid-area: b2;
}

.news-block3 {
  width: 215.73px;
  height: 146px;
  background-image: url(../assets/img/news3.png);
  grid-area: b3;
}

.news-block4 {
  width: 447px;
  height: 155px;
  background-image: url(../assets/img/news4.png);
  grid-area: b4;
}

.news-link {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #232323;
  margin-top: 20px;
}

/* News Section */
/*Section Sports departments */
.departments-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-column: 20px;
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.departments-card {
  position: relative;
  width: 320px;
  height: 122px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.departments-card img {
  position: absolute;
  left: 0;
  top: 5px;
  top: 16.5px;
}
.departments-card span {
  z-index: 2;
}

.departments-cards a {
  color: black;
  display: block;
}
.departments-cards .card1:hover {
  color: white;
  background-color: #0090BF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.departments-cards .card2:hover {
  color: white;
  background-color: #482748;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.departments-cards .card3:hover {
  color: white;
  background-color: #D5323B;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.departments-cards .card4:hover {
  color: white;
  background-color: #E3CB00;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.departments-cards .card4:hover .Ellipse4 {
  top: 15px;
}
.departments-cards .card5:hover {
  color: white;
  background-color: #00773C;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.departments-cards .card5:hover .Ellipse5 {
  top: 15px;
}

/*Section Sports departments */
/* Section YouTube */
.youTube {
  margin-top: 22px;
  margin-bottom: 22px;
}

.Tube-img {
  width: 100%;
  height: auto;
}

/* Section YouTube */
/* Section Goverments */
.goverments {
  margin-bottom: 20px;
}

.swiper {
  width: 100%;
  height: 100px;
}

.swiper-button-prev {
  left: 2 !important;
  top: 43px !important;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
      -ms-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
}

.swiper-button-next {
  right: 2 !important;
  top: 43px !important;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
      -ms-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
}

:root {
  --swiper-navigation-color: #FF2C21;
}

:root {
  --swiper-navigation-size:22px !important;
}

.swiper-slide.swiper-slide-duplicate.swiper-slide-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.swiper-slide.swiper-slide-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.swiper-slide.swiper-slide-duplicate.swiper-slide-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide.swiper-slide-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 750px) {
  .swiper-slide.swiper-slide-next {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/* Section Goverments */
/* Footer */
footer {
  height: 292px;
  background: -webkit-gradient(linear, left top, left bottom, from(#204060), to(#00688D));
  background: -o-linear-gradient(top, #204060 0%, #00688D 100%);
  background: linear-gradient(180deg, #204060 0%, #00688D 100%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
}
footer h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 14px;
}

.under-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 18px;
}

.footer-logo {
  width: 176px;
  height: 174px;
}

/* Footer */
/* Aside */
aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 63px;
}
aside a img {
  width: 100%;
  height: auto;
}

.aside-block {
  position: sticky;
  top: 120px;
}

.footer-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.aside-line {
  width: 1px;
  color: #B0B0B0;
}

.visually-impaired {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bold {
  font-weight: 700;
}

.icon {
  width: 20px;
  height: 20px;
}

/* Aside */
@media (max-width: 1300px) {
  .news-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .news-block1 {
    width: auto;
    background-size: cover;
  }

  .news-block2 {
    width: 50%;
    background-size: cover;
  }

  .news-block3 {
    width: 50%;
    background-size: cover;
  }

  .news-block4 {
    width: 100%;
    background-size: cover;
  }
}
@media (max-width: 1117px) {
  .departments-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .departments-card {
    width: 100%;
  }
}
@media (max-width: 1020px) {
  aside {
    padding-top: 10px;
  }

  .under-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section1-position {
    padding-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section1-position div {
    text-align: center;
  }

  main {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  footer {
    height: auto;
  }
  footer h2 {
    text-align: center;
    font-size: 16px;
  }

  .footer-additional {
    margin-top: 20px;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer-additional div {
    margin-top: 7px;
  }

  .visually-impaired {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
    text-align: center;
  }

  .footer-contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 14px;
  }
  .footer-contact div {
    margin-top: 10px;
  }

  .social-networks {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer-language {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }

  .bold {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .main-image {
    height: auto;
  }

  aside {
    width: 100%;
    padding-top: 10px;
  }

  .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
}
@media (max-width: 500px) {
  .swiper-slide.swiper-slide-active {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .swiper-slide.swiper-slide-duplicate.swiper-slide-active {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 320px) {
  .news-blocks div span {
    font-size: 12px;
  }
}