header{
    background: linear-gradient(180deg, #204060 0%, #00688D 100%);
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    padding-top: 14px;
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;  
}

footer {
  flex: 0 0 auto;
}
a{
    text-decoration: none;
    color:white;
}
h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

}
li{
    list-style-type:none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;

  @media screen and (max-width: 1024px) {
    padding: 0 10px;
  }
  @media screen and (max-width: 1200px) {
    padding: 0 10px;
  }
}

.container-full {
  max-width: 1440px;
  margin: 0 auto; 
}

.page-content {
  padding: 16px 0;
}
.title-block{
    display: flex;
}

/* header */

.header-position{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.menu-position{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

}

/* header */

/* Main Section */

.main-image{
    background-image: url(../assets/img/background.png);
    background-size:cover;
    height: 400px;
    background-repeat: no-repeat;
    display: flex;
}
.section1-position{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 31px;
}
/* Main Section */

/* News Section */





