header{
    background: linear-gradient(180deg, #204060 0%, #00688D 100%);
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    padding-top: 14px;
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;  
}

footer {
  flex: 0 0 auto;
}
a{
    text-decoration: none;
    color:white;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
h2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

}
li{
    list-style-type:none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.container-full {
  max-width: 1440px;
  margin: 0 auto; 
}

.page-content {
  padding: 16px 0;
}
.title-block{
    display: flex;
    align-items: center;
    column-gap:9px;
    img{
        width: 15px;
        height: 25px;
    }
}

main{
    width: 70%;
}
aside{
    width: 30%;
}
/* header */

.header-position{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.menu-position{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

}

/* header */

/* Main Section */

.main-image{
    background-image: url(../assets/img/background.png);
    background-size:cover;
    height: 400px;
    background-repeat: no-repeat;

}

.section1-position{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 31px;
    padding-top: 110px;
}
/* Main Section */

/* News Section */
.news-section{
    margin-bottom: 44px;
}
.news-blocks{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "b1 b1 b2 b3"
    "b1 b1 b4 b4";
    /*
    flex-wrap: wrap;
    column-gap:23px;
    grid-gap: 23px;
    */
    div{
        display: flex;
        align-items: flex-end;
        background-repeat:no-repeat;
        background-size:cover;
        span{
            text-align: center;
            background: rgba(5, 43, 109, 0.5);
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
        }
    }

}

.news-block1{
    width: 533px;
    height: 334px;
    background-image: url(../assets/img/news1.png);
    grid-area: b1;
}

.news-block2{
    width: 215.73px;
    height: 146px;
    background-image: url(../assets/img/news2.png);
    grid-area: b2;
}

.news-block3{
    width: 215.73px;
    height: 146px;
    background-image: url(../assets/img/news3.png);
    grid-area: b3;
}
.news-block4{
    width: 447px;
    height: 155px;
    background-image: url(../assets/img/news4.png);
    grid-area: b4;
}

.news-link{
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #232323;
    margin-top: 20px;
}

/* News Section */

/*Section Sports departments */
.departments-cards{
    display: flex;
    flex-wrap: wrap;
    grid-column: 20px;
    grid-gap:20px;
    justify-content: center;
}
.departments-card{
    position: relative;
    width: 320px;
    height: 122px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        position: absolute;
        left: 0;
        top: 5px;
        top: 16.5px;
    }
    span{
        z-index: 2;
    }
}

/*Section Sports departments */

/* Section YouTube */

.youTube{
    margin-top: 22px;
    margin-bottom: 22px;
}

/* Section YouTube */

/* Section Goverments */
.goverments{
    margin-bottom: 20px;
}
.swiper {
    width: 100%;
    height: 100px;
  }

  /* Section Goverments */

  /* Footer */
 footer{
    height: 292px;
    background: linear-gradient(180deg, #204060 0%, #00688D 100%);
    color:white;
    display: flex;
    align-items: center;
 }

 .footer{
    display: flex;
    justify-content: space-between;
 }

 .footer-info{
    display: flex;
 }
   /* Footer */